.nav-fixe {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 12px;
  z-index: 999;
}
.nav-fixe a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.bluemap {
  background: #121212;
  padding: 3em 1em;
}
.bluemap iframe {
  width: 100%;
  height: 700px;
  border: none;
  border-radius: 12px;
}
.map-info {
  color: #aaa;
  margin-top: 10px;
}
