.nav-fixe {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 12px;
  z-index: 999;
}
.nav-fixe a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.bluemap {
  background: #121212;
  padding: 3em 1em;
  min-height: 300px;
}

.map-placeholder {
  background: #1f1f1f;
  padding: 2em;
  border-radius: 12px;
  color: #aaa;
}
